/* josh comeau css reset */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ------------------------------- */

:root {
  font-size: 1vw;
  color: white;
}

body {
  display: flex;
  height: 100vh;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(70, 70, 70);
}

.side-banner {
  width: 30%;
  position: relative;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  align-items: flex-start;
}

.top-section {
  font-weight: 600;
  font-size: 1.3vw;
  padding-left: 5%;
}

.mid-section {
  background-color: rgb(50, 50, 50);
  width: 70vw;
  padding: 5%;
  box-shadow: 0px 0px 25px 2px rgb(90, 90, 90);
}

.f-name {
  display: flex;
  flex-direction: column;
}

.l-name {
  display: flex;
  flex-direction: column;
}

.name {
  display: flex;
}

.u-email {
  display: flex;
  flex-direction: column;
}

.u-phone {
  display: flex;
  flex-direction: column;
}

.contact {
  display: flex;
}

.pass {
  display: flex;
  flex-direction: column;
}

.conf-pass {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
}

.login {
  padding-left: 5%;
  font-size: 1vw;
}

.logo {
  position: absolute;
  font-size: 6vw;
  font-weight: 500;
  top: 50%;
  transform: translate(0%, -50%);
  left: 0;
  width: 100%;
  color: #7986cb;
  text-align: center;
  background-color: #00000093;
}

label {
  font-size: 0.8vw;
  padding-bottom: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
}

input {
  margin-right: 15%;
  height: 4.5vh;
  background-color: rgb(80, 80, 80);
  color: white;
  border-style: hidden;
  border-radius: 5px;
}

input:focus:valid {
  box-shadow: 2px 2px 2px 2px rgb(90, 90, 90);
  border-color: blue;
}

input:invalid {
  border: red;
}

button {
  padding: 10px;
  border-radius: 5px;
  margin-left: 5%;
  background-color: #7986cb;
  border: 0;
}

button:hover {
  background-color: #616ca1;
}

button:focus {
  background-color: #3f497c;
}

a {
  color: #b4c0ff;
  text-decoration: none;
}

img {
  height: 100%;
}

span {
  color: #7986cb;
  font-weight: 600;
  font-size: 1.5vw;
}
